.skills-card {
   box-shadow: 10px 5px 5px rgb(138, 137, 137);
    width: 18vw;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    }
.skill{
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
}
img{
    height: 50%;
    width: 50%;
}