.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  .text-container{
    color: rgba(28, 98, 228, 0.926);
    font-size: 1.099rem;
  }
  .hero-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .hero-img:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 767px) {
    .main-container {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .subtitle {
      font-size: 1.5rem;
    }
  
    .hero-img {
      margin-top: 1rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .main-container {
      padding: 1.5rem;
    }
  
    .title {
      font-size: 2.25rem;
    }
  
    .subtitle {
      font-size: 1.75rem;
    }
  }
  