.footer{
background-color: #090979;;
}
.links a{
    padding-left: 1.5rem;
    color: white;
}
.quick-links {
    text-decoration: none;
    color: white;
}
.copy-area
{
    padding-top:2.5rem ;
}
.heading{
color: white;
font-size: 2rem;
}
