.footer {
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.social-content, .content-container, .additional {
    flex: 1 1 300px; /* Flex grow, flex shrink, flex basis */
    margin: 10px;
    text-align: center;
}

.links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-header {
    color: rgb(189, 189, 208);
    font-size: 20px;
    text-align: center;
}

.links {
    margin: 10px 0;
}

.input-content {
    display: flex;
    flex-direction: column;
}

.input-content .row {
    margin-bottom: 1rem;
}

.input-content textarea {
    resize: vertical;
}

.additional .address,
.additional .phone,
.additional .email {
    margin: 10px 0;
}

.btn-class{
    display: flex;
    justify-content:end;
}

.btn {
    width: 30%;
    
}

@media only screen and (max-width: 600px) {
    .content-container {
        display: none; /* Hide the Contact Us section */
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .additional {
        display: block; /* Ensure the Connect with me section is displayed */
        width: 100%; /* Ensure it takes full width */
    }
}
