@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#contact .card:hover i,#contact .card:hover h4{
	color: #313bf4;
}
#contact h3{
    color: #090979;
    font-family: "Arsenal SC", sans-serif;
    font-weight: bolder;
    font-size:3rem;
}
